<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="WebApiResponseUtf8Bom" value="false"/>
  </appSettings>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Example_MVC.BookService" behaviorConfiguration="BookServiceBehavior">
        <!-- 
        <host>
          <baseAddresses>
            <add baseAddress="http://172.31.6.8/BookService.svc"/>
          </baseAddresses>
        </host>
        -->
        <endpoint address="" binding="webHttpBinding" contract="Example_MVC.BookService" behaviorConfiguration="HttpBehavior"/>
        <!-- 
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        -->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BookServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="HttpBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0">
      <serviceActivations>
        <add relativeAddress="BookService.svc" service="Example_MVC.BookService"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>