<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Example_MVC.BookService" behaviorConfiguration="BookServiceBehavior">
        <!-- 
				<host>
					<baseAddresses>
						<add baseAddress="http://172.31.6.8/BookService.svc"/>
					</baseAddresses>
				</host>
        -->
        <endpoint address="" binding="webHttpBinding" contract="Example_MVC.IBookService" behaviorConfiguration="HttpBehavior"></endpoint>
        <!-- 
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        -->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BookServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="HttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="BookService.svc" service="Example_MVC.BookService"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
