<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="Example_MVC.BookService" behaviorConfiguration="BookService.ServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://172.31.6.8/BookService.svc"/>
					</baseAddresses>
				</host>
				<!-- Service Endpoints -->
				<endpoint address="" binding="wsHttpBinding" contract="Example_MVC.IBookService" behaviorConfiguration="HttpBehavior"></endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="BookService.ServiceBehavior">
					<!-- メタデータ情報の開示を避けるには、展開する前に下の値を false に設定します -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- デバッグ目的で障害発生時の例外の詳細を受け取るには、下の値を true に設定します。例外情報の開示を避けるには、展開する前に false に設定します -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="HttpBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
			<serviceActivations>
				<add relativeAddress="BookService.svc" service="BookService"/>
			</serviceActivations>
		</serviceHostingEnvironment>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        デバッグ中に Web アプリケーションのルートを直接参照するには、下の値を true に設定します。
        Web アプリケーション フォルダーの情報開示を避けるには、展開する前に false に設定します。
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
